.cross{
    position: absolute;
    top: 5%;  
    right: 5%; 
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.card-visible {
  background-color: rgb(60, 38, 20, 0.7) ;
  position: absolute;
  margin: 4% 28% 0 28%;
  width: calc(100% - 56%); /* 100% moins deux fois 17% */
  height: 60%;
  left: 0px;
  z-index: 1000;
}

.card-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


  /* responsive */
  @media (max-width: 1650px) {
    .card-visible {
      height: 54%;
    }
  }
  @media (max-width: 1520px) {
    .card-visible {
      height: 50%;
    }
  }
  @media (max-width: 1400px) {
    .card-visible {
      height: 47%;
    }
  }
  @media (max-width: 1230px) {
    .card-visible {
      height: 42%;
    }
  }
  @media (max-width: 1100px) {
    .card-visible {
      height: 38%;
    }
  }