.bestiaire-content{
    margin-top: 60px;
}
#creature-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
    row-gap: 50px;
    place-items: center;
}

.card-description-visible {
    display: flex;
    align-items:center; 
    justify-content: space-between; 
    gap: 20px;
    position: relative; 
    border-radius: 10px;
    margin-bottom: 10%;
}

.description-style {
    max-width: 300px; 
}
.description {
    background-color: rgb(60, 38, 20, 0.5);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 2% 0 2%;
    border-radius: 10px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 1);
}

.title-description, .description, .text-error {
    font-family: "MedievalSharp", cursive;
    color: aliceblue;    
}

.title-description {
    font-weight: bold; 
}

.text-description {
    font-weight: normal; 
}