.footer-contain {
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 38, 20, 0.5);
    margin-top: 8%;
}

/* responsive */
/* @media (max-width: 950px) {
    .footer-contain {
        background-image:url(../../public/parchemin_map.png);
        background-size:contain; 
        background-position: center;
        background-repeat: no-repeat; 
    }
} */
