.header, .content-menu{
    font-family: "MedievalSharp", cursive;
    font-weight: normal; 
    color: rgb(212, 147, 89);
    text-shadow: 1px 1px 2px rgb(126, 91, 36);
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: 1%;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit; /* Hérite de la couleur du texte parent */
}



/* Responsive */
@media (max-width: 768px) { /* Ajuste la largeur selon ton besoin */
    #map-page {
        display: none;
    }
}