#filters-banner {
    display: flex;
    flex-wrap: wrap;
    gap: 2;
    justify-content:space-around;
    margin-bottom: 10%;
    margin : 0% 17% 3% 17%;
}


 
select {
    -webkit-appearance: none; /* Supprime le style par défaut sur Webkit (Chrome, Safari) */
    -moz-appearance: none; /* Supprime le style par défaut sur Firefox */
    appearance: none; /* Supprime le style par défaut sur les autres navigateurs */
    background-color: rgb(60, 38, 20, 0.5);
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 8px;
    width: 160px;
    cursor: pointer;
    font-family: "MedievalSharp", cursive;
    color: rgb(212, 147, 89);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
    margin-top: 10px;
}

option {
    font-family: "MedievalSharp", cursive;
    color: aliceblue;
}

